body {
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    font-family: 'Questrial', sans-serif !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    width: 800px;
    height: 600px;
    align-items: center;
    display: flex;
    margin: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.volcano {
    width: 350px;
    height: 600px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
}

.form {
    margin: auto;
    width: 33.5%;
}

label {
    font-weight: bolder;
    font-size: 14.5px;
}

#email {
    height: 30px;
    width: 250px;
    padding: 1px 10px;
    font-size: 13px;
    border: 1.5px solid rgb(184, 184, 184);
    outline: none;
    background-color: transparent;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 7px;
    margin-top: 10px;
}

.title {
    font-weight: bolder;
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

::placeholder {
    color: rgb(140, 140, 140);
    font-weight: normal;
    font-size: 13.5px;
    font-family: 'Questrial' , sans-serif;
}

.info {
    margin-bottom: 30px;
}

.info p {
    font-size: 14.5px;
    color: rgb(140, 140, 140); 
}

.extrainfo {
    margin-bottom: 30px
}

.extrainfo p {
    font-size: 14.5px;
    
    color: rgb(140, 140, 140); 
}

#reset {
    background-color: black;
    border-radius: 9px;
    height: 38px;
    width: 275px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

#reset a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}